@{
    ViewData["Title"] = "Generator";
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow rounded-4" style="background-color: Maroon">
    <div class="container-fluid">
        <div class="navbar-brand" style="color: HotPink;">Generator</div>
    </div>
</nav>
<div class="mt-3 text-muted">
    <p>Playlist generator coming soon.</p>
</div>
